@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@500;600&family=Roboto+Condensed:wght@700&display=swap");
@font-face {
  font-family: bebas;
  src: url("../fonts/BebasNeue-Bold.otf");
}

* {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  background: #0d0c0c;
}

body {
  height: 100%;
  width: 100%;
}

.scroller {
  height: 100vh;
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 10vh;
  width: 100%;
  z-index: 9999;
  opacity: 0;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .container .logo-container img {
  width: 80px;
}

nav .container .menus li {
  display: inline-block;
  margin-right: 20px;
}

nav .container .menus li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.container {
  padding: 0px 10%;
  margin: 0px auto;
  display: block;
  max-width: 2000px;
}

.hero-section {
  padding: 100px 0px;
  background-image: url("../image/wolf.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  background-attachment: scroll;
  display: none;
}

.hero-section .center {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 2000px;
}

.hero-section .center p {
  position: absolute;
  left: 12%;
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-right: 20px;
}

@media (max-width: 1300px) {
  .hero-section .center p {
    left: 5%;
  }
}

@media (max-width: 500px) {
  .hero-section .center p {
    top: -30px;
    left: 3%;
  }
}

.hero-section .center p span {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -200%;
  content: " ";
  width: 100px;
  height: 2px;
  background-color: #ffe600;
}

.hero-section .center h1 {
  font-weight: 900;
  color: white;
  overflow: hidden;
  height: 400px;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
  margin: 0 auto;
  text-align: center;
  z-index: 8;
  position: static;
  font-family: bebas;
  font-size: calc(min(33vw, 400px));
  cursor: pointer;
}

@media (max-width: 1000px) {
  .hero-section .center h1 {
    height: 300px;
  }
}

@media (max-width: 650px) {
  .hero-section .center h1 {
    height: 250px;
  }
}

@media (max-width: 500px) {
  .hero-section .center h1 {
    height: 200px;
  }
}

.hero-section .center .hidden-text {
  position: absolute;
  z-index: 200;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-family: bebas;
}

.hero-section .center .hidden-text span {
  font-family: bebas !important;
}

.hero-section .center .hidden-text .outline {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.hero-section .center .coins {
  left: 5% !important;
  top: 50% !important;
  width: 200px;
}

.hero-section .center .coins-2 {
  right: 20% !important;
  top: 50% !important;
}

.hero-section .center .coins-3 {
  right: 40%;
  top: 75%;
}

.hero-section .center .coins-4 {
  left: 30%;
  top: 70%;
  z-index: -1;
}

.hero-section .center .coins-5 {
  left: 50%;
  top: 60%;
  z-index: -1;
}

@media (max-width: 550px) {
  .hero-section .center .coins {
    top: 35% !important;
    left: 0% !important;
  }
  .hero-section .center .coins-2 {
    right: 20% !important;
    top: 35% !important;
  }
  .hero-section .center .coins-3 {
    right: 40%;
    top: 60%;
  }
  .hero-section .center .coins-4 {
    top: 60%;
    left: 20%;
  }
  .hero-section .center .coins-5 {
    top: 40%;
    left: 40%;
  }
}

.hero-section .center .coin {
  position: absolute !important;
}

.hero-section .center .coin .alternative {
  opacity: 0;
}

.hero-section .center .coin:hover .alternative {
  opacity: 1;
}

.hero-section .center .coin:hover .original {
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  opacity: 0;
}

.hero-section .center img {
  position: absolute !important;
  width: 15vw !important;
  max-width: 200px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.testing {
  background-image: url("../image/wolf.png");
  background-position: center;
  background-size: 117%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  background-repeat: no-repeat;
}

.testing img {
  width: 95%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.testing-2 {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.testing-2 video {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  width: 100vw;
}

.testing-2 .text-animation {
  width: 115%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-52%, -53%);
          transform: translate(-52%, -53%);
  z-index: 4;
}

.testing-2 #myVideo1 {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.testing-2 #myVideo2 {
  display: none;
}

.testing-2 img {
  width: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -38%);
          transform: translate(-50%, -38%);
}

.feature-section {
  margin: 200px 0px;
  color: white;
}

@media (max-width: 600px) {
  .feature-section {
    padding: 0px 5% !important;
  }
}

.feature-section .text h1 {
  font-weight: 900;
  color: white;
  font-size: 80px;
  position: relative;
  overflow: hidden;
  height: 100px;
  margin: 0;
}

@media (max-width: 795px) {
  .feature-section .text h1 {
    font-size: 50px;
    height: 70px;
  }
}

@media (max-width: 700px) {
  .feature-section .text h1 {
    font-size: 40px;
    height: 50px;
  }
}

@media (max-width: 560px) {
  .feature-section .text h1 {
    font-size: 30px;
    height: 50px;
  }
}

@media (max-width: 500px) {
  .feature-section .text h1 {
    font-size: 35px;
    height: 40px;
  }
}

.feature-section .text .hidden-text {
  position: absolute;
  z-index: 200;
}

.feature-section .text .hidden-text span {
  color: gold;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: gold;
}

.feature-section .text-container {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #e4e4e4;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature-section .text-container .features-info {
  max-width: 617px;
  width: 100%;
}

.feature-section .text-container .features-info-text {
  font-size: 18px;
  margin-top: 30px;
  line-height: 183.5%;
  margin-left: 50px;
}

@media (max-width: 1000px) {
  .feature-section .text-container .features-info-text {
    margin-left: 0px;
  }
}

@media (max-width: 600px) {
  .feature-section .text-container .features-info-text {
    font-size: 16px;
  }
}

.feature-section .text-container .features-info-text div {
  display: inline-block;
  position: relative;
  height: 24px;
  overflow: hidden;
}

.feature-section .text-container .features-info-text div span {
  display: inline-block;
  opacity: 1;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.feature-section .text-container .line-wrapper {
  overflow: hidden;
}

.feature-section .text-container .circle {
  width: 130px;
  height: 130px;
  top: 0;
  left: 0;
  border-radius: 80%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  pointer-events: none;
  opacity: 1;
  position: absolute;
  z-index: 100;
  border: 1px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature-section .text-container .img-container {
  width: 50%;
  position: relative;
  overflow: none;
}

.feature-section .text-container .img-container video {
  z-index: -1;
  width: 100%;
}

@media (max-width: 1000px) {
  .feature-section .text-container .img-container {
    width: 100%;
    max-width: 500px;
  }
}

@media (max-width: 1000px) {
  .feature-section .text-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.services-section .text h1 {
  font-weight: 900;
  color: white;
  font-size: 80px;
  position: relative;
  overflow: hidden;
  height: 100px;
  margin: 0;
}

@media (max-width: 940px) {
  .services-section .text h1 {
    font-size: 70px;
    height: 80px;
  }
}

@media (max-width: 795px) {
  .services-section .text h1 {
    font-size: 50px;
    height: 70px;
  }
}

@media (max-width: 700px) {
  .services-section .text h1 {
    font-size: 40px;
    height: 50px;
  }
}

@media (max-width: 560px) {
  .services-section .text h1 {
    font-size: 30px;
    height: 50px;
  }
}

@media (max-width: 500px) {
  .services-section .text h1 {
    font-size: 30px;
    height: 50px;
  }
}

.services-section .text .hidden-text {
  position: absolute;
  z-index: 200;
}

.services-section .text .hidden-text span {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: gold;
}

.services-section .services-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services-section .services-container .service-item {
  color: white;
  opacity: 0;
  margin-right: 54px;
  max-width: 512px;
  width: 40%;
  margin-top: 78px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  padding: 40px;
}

.services-section .services-container .service-item .service-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services-section .services-container .service-item .service-title-container .service-title {
  font-weight: 900;
  font-size: 16px;
  background-color: #f7c801;
  padding: 10px 24px;
  margin-left: 1rem;
  color: black;
}

.services-section .services-container .service-item .service-title-container video {
  width: 50px;
  max-height: 60px;
}

.services-section .services-container .service-item .service-info {
  margin-top: 7px;
  line-height: 34px;
}

@media (max-width: 1097px) {
  .services-section .services-container .service-item {
    width: 45%;
    margin: 34px 2%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .services-section .services-container .service-item .service-title-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services-section .services-container .service-item .service-title-container .service-title {
    width: 100%;
    margin-left: 0px;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 900px) {
  .services-section .services-container .service-item {
    width: 100%;
    max-width: initial;
    margin-right: 0px;
    padding: 15px;
    margin: 34px 0px;
  }
}

.services-section .services-container .service-item:hover {
  background: #131313;
  -webkit-box-shadow: 0px 0px 10px 4px #00000046;
          box-shadow: 0px 0px 10px 4px #00000046;
}

.partners-section {
  margin: 100px 0px;
  padding: 200px 0px;
  background-color: #eeeeee;
}

.partners-section .text h1 {
  font-weight: 900;
  color: black;
  font-size: 60px;
  position: relative;
  overflow: hidden;
  height: 100px;
  margin: 0 auto;
}

@media (max-width: 795px) {
  .partners-section .text h1 {
    font-size: 50px;
    height: 70px;
  }
}

@media (max-width: 700px) {
  .partners-section .text h1 {
    font-size: 40px;
    height: 50px;
  }
}

@media (max-width: 560px) {
  .partners-section .text h1 {
    font-size: 30px;
    height: 50px;
  }
}

@media (max-width: 500px) {
  .partners-section .text h1 {
    font-size: 35px;
    height: 40px;
  }
}

@media (max-width: 400px) {
  .partners-section .text h1 {
    font-size: 30px;
    height: 40px;
  }
}

.partners-section .text .hidden-text {
  position: absolute;
  z-index: 200;
  width: 100%;
  text-align: center;
}

.partners-section .text .hidden-text span {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.partners-section .partners-container {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 82px;
  opacity: 0;
}

.partners-section .partners-container div {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners-section .partners-container .partner-item {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  margin: auto;
}

.partners-section .partners-container .partner-item .img-container {
  height: 100%;
}

.partners-section .partners-container .partner-item img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  height: 80px;
  max-width: 200px;
}

.partners-section .partners-container .partner-item img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

@media (max-width: 900px) {
  .partners-section .partners-container .partner-item img {
    height: 50px;
  }
}

.projects-section {
  margin-top: 220px;
}

.projects-section .text h1 {
  font-weight: 900;
  color: black;
  font-size: 60px;
  position: relative;
  overflow: hidden;
  height: 100px;
  margin: 0 auto;
}

@media (max-width: 795px) {
  .projects-section .text h1 {
    font-size: 50px;
    height: 70px;
  }
}

@media (max-width: 700px) {
  .projects-section .text h1 {
    font-size: 40px;
    height: 50px;
  }
}

@media (max-width: 560px) {
  .projects-section .text h1 {
    font-size: 30px;
    height: 50px;
  }
}

@media (max-width: 500px) {
  .projects-section .text h1 {
    font-size: 35px;
    height: 40px;
  }
}

@media (max-width: 400px) {
  .projects-section .text h1 {
    font-size: 30px;
    height: 40px;
  }
}

.projects-section .text .hidden-text {
  position: absolute;
  z-index: 200;
  width: 100%;
  text-align: center;
}

.projects-section .text .hidden-text span {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.projects-section .projects-container {
  margin-top: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects-section .projects-container .project-item {
  margin: 80px 3%;
  width: 23%;
  position: relative;
  z-index: 66;
  min-width: 300px;
}

@media (max-width: 700px) {
  .projects-section .projects-container .project-item {
    width: 100%;
  }
  .projects-section .projects-container .project-item .project-infos {
    width: 90% !important;
  }
}

.projects-section .projects-container .project-item .logo-container {
  position: relative;
  z-index: 66;
}

.projects-section .projects-container .project-item .logo-container img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  height: 100px;
  max-width: 200px;
  margin: 0 auto;
  display: block;
  position: static;
  z-index: 999;
}

.projects-section .projects-container .project-item .logo-container p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  font-size: 20px;
  text-transform: uppercase;
}

.projects-section .projects-container .project-item .project-infos {
  -webkit-box-shadow: 0px 0px 18px rgba(71, 71, 71, 0.25);
          box-shadow: 0px 0px 18px rgba(71, 71, 71, 0.25);
  border-radius: 6px;
  padding: 0px 20px;
  overflow-y: hidden;
  position: absolute;
  top: -25%;
  background-color: white;
  width: 100%;
  padding-top: calc(100px + 30%);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
}

.projects-section .projects-container .project-item .project-infos .more {
  margin-top: 25%;
}

.projects-section .projects-container .project-item .project-infos .more img {
  width: 20px;
  margin: 0 auto;
  display: block;
  padding-bottom: 20px;
}

.projects-section .projects-container .project-item .project-infos .description {
  max-height: 0px;
}

.projects-section .projects-container .project-item .project-infos .description .description-title {
  font-weight: bold;
}

.projects-section .projects-container .project-item .project-infos .description ul {
  margin-top: 11px;
  margin-left: 20px;
}

.projects-section .projects-container .project-item .project-infos .description ul li {
  margin-top: 8px;
  font-weight: 200;
}

.projects-section .projects-container .project-item .project-infos .description .number {
  text-align: center;
  margin-top: 40px;
}

.projects-section .projects-container .project-item .project-infos .description .number h1 {
  font-size: 40px;
  font-weight: bold;
}

.projects-section .projects-container .project-item:hover .project-infos {
  height: initial;
  display: initial;
}

.projects-section .projects-container .project-item:hover .logo-container img {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

@media (max-width: 851px) {
  .projects-section .projects-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.projects-section .button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid black;
  margin: 0 auto;
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

footer {
  padding: 100px 0px;
  margin-top: 250px;
  background: linear-gradient(115.52deg, #ffe600 5.27%, #eebc1d 43.15%, #9f7b06 104.08%);
}

footer .text h1 {
  font-weight: 900;
  color: black;
  font-size: 5vw;
  position: relative;
  overflow: hidden;
  height: 100px;
  margin: 0 auto;
  width: 100%;
}

@media (max-width: 795px) {
  footer .text h1 {
    font-size: 50px;
    height: 70px;
  }
}

@media (max-width: 700px) {
  footer .text h1 {
    font-size: 40px;
    height: 50px;
  }
}

@media (max-width: 560px) {
  footer .text h1 {
    font-size: 30px;
    height: 50px;
  }
}

@media (max-width: 500px) {
  footer .text h1 {
    font-size: 35px;
    height: 40px;
  }
}

@media (max-width: 400px) {
  footer .text h1 {
    font-size: 30px;
    height: 40px;
  }
}

footer .text .hidden-text {
  position: absolute;
  z-index: 200;
}

footer .text .hidden-text span {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

footer .links-container .links {
  margin-top: 20vh;
}

footer .links-container .links li {
  list-style-type: none;
  margin-top: 16px;
}

footer .links-container .links li a {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
}
/*# sourceMappingURL=styles.css.map */