nav {
  position: fixed;
  width: 100%;
  z-index: 9999;
  opacity: 1;

  .container {
    display: flex;
    justify-content: space-between;
    padding: 10px 5%;
    align-items: center;
    .logo-container {
      img {
        height: 80px;
        max-height: 10vh;
      }
    }

    .menus {
      li {
        display: inline-block;
        margin-right: 20px;
        a {
          color: white;
          text-decoration: none;
          text-transform: uppercase;
        }
      }
    }

    .menu-icon {
      display: none;
    }

    @media (max-width: 800px) {
      align-items: initial;
      background: #131313;
      padding: 0px 5%;
      .menus {
        position: absolute;
        height: 100vh;
        top: 0px;
        right: 0;
        background-color: #0d0d0d;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        padding-left: 5%;
        transform: translateX(100%);
        transition: all 0.7s cubic-bezier(0.17, 0.94, 0.26, 0.98);
        display: none;

        li {
          margin: 1rem 0px;
        }
      }

      .menu-icon {
        display: flex;
        // position: absolute;
        z-index: 100;
        right: 5%;
        flex-direction: column;
        justify-content: center;
        background: #131313;

        cursor: pointer;
        div {
          content: "";
          width: 50px;
          height: 3px;
          background-color: white;
          margin: 4px 0px;
          border-radius: 2px;

          &:nth-child(3) {
            width: 30px;
            margin-left: 20px;
          }
        }
      }
    }
  }
}

.active {
  transform: translateX(0%) !important;
  // display: flex !important;
}
