.partners-section {
  padding: 80px 0px;
  background-color: #eeeeee;
  border-top: 3px solid gold;
  .text {
    h1 {
      font-weight: 900;
      color: black;
      font-size: 60px;
      position: relative;
      overflow: hidden;
      height: 100px;
      margin: 0 auto;

      @media (max-width: 795px) {
        font-size: 50px;
        height: 70px;
      }

      @media (max-width: 700px) {
        font-size: 40px;
        height: 50px;
      }

      @media (max-width: 560px) {
        font-size: 30px;
        height: 50px;
      }

      @media (max-width: 500px) {
        font-size: 35px;
        height: 40px;
      }

      @media (max-width: 400px) {
        font-size: 30px;
        height: 40px;
      }
    }

    .hidden-text {
      position: absolute;
      z-index: 200;
      width: 100%;
      text-align: center;
      span {
        color: transparent;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: black;

        @media (max-width: 500px) {
          -webkit-text-stroke-width: 1px;
        }
      }
    }
  }

  .partners-container {
    display: flex !important;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;

    .partner-item {
      margin-top: 40px;
      margin: 1%;
      box-shadow: 0px 0px 18px rgba(71, 71, 71, 0.075);
      background-color: rgb(255, 255, 255);
      padding: 50px;
      width: 30%;
      align-items: center;
      justify-content: center;
      color: black;
      text-decoration: none;
      img {
        height: 40px;
        max-width: 100%;
        display: block;
        margin: 0 auto;
        &:hover {
          filter: grayscale(0%);
        }

        @media (max-width: 900px) {
          height: 50px;
        }
      }

      h3 {
        text-align: center;
        text-transform: uppercase;
        margin-top: 10px;
        padding: 10px;
      }

      p {
        margin-top: 10px;
        line-height: 34px;
      }

      .mexc {
        background-color: #76fcb2;
      }

      .poolz {
        background-color: #3677ff;
      }

      .gate {
        background-color: #de5959;
      }

      @media (max-width: 765px) {
        width: 80%;
        max-width: 600px;
      }

      @media (max-width: 500px) {
        max-width: 600px;
        width: initial;
        max-width: initial;
        min-width: initial;
        padding: 15px;
        min-height: 500px;
        margin: 1% 10px;
      }
    }

    @media (max-width: 500px) {
      margin-top: 57px;
    }
  }

  .container {
    position: relative;
  }

  .dots {
    display: flex;
    justify-content: space-around !important;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    li {
      list-style-type: none;
    }
    button {
      background-color: gray;
      border: none;
      width: 5px;
      height: 5px;
      border-radius: 100%;
    }

    .slick-active {
      button {
        background-color: black;
      }
    }
  }

  .arrows {
    color: white;
    position: absolute;
    display: flex;
    width: 95%;
    justify-content: space-between;
    left: 0px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
    display: none;

    @media (max-width: 500px) {
      display: flex;
    }
    div {
      width: 20px;
      img {
        width: 100%;
      }
    }

    .prev {
      img {
        transform: rotate(90deg);
      }
    }

    .next {
      img {
        transform: rotate(-90deg);
      }
    }
  }

  @media (max-width: 500px) {
    padding-top: 50px;
  }
}
